.message {
  width: 90%;
  border: 1px solid rgba(153, 153, 153, 1);
  margin-bottom: 44px;

  > p {
    padding-left: 30px;
    padding-right: 25px;
    margin-bottom: 30px;
    width: 100%;
  }
}

.details {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 25px;
  margin-bottom: 18px;
  margin-top: 24px;
  width: 100%;
}
